@media (max-width:1167px){
    .aside{
        display:none;
    }

    .main_header__logo{
      height:51px;
    }
    .main_header{
        float:none;
        background-color: white;
        padding:5px 0;
        width:100%;

        &__text, &__divider{
          display:none;
        }
        &__icon,&__divider-for768,&__logo, &__menu{
          display:flex;
        }
        &__icon, &__menu{
          width:40px;
          height:40px;
        }
        &__divider{
          height:40px;
          margin: 0 auto;
        }
        &__logo{
          height:51px;
          margin-left:16px;
        }
        &__icon-for768{
          display:flex;
          margin-left:auto;
          gap:16px;
          margin-right:16px;
        }
        &__divider-for768{
          display:flex;
          height:40px;
          margin-right:16px;
        }
        &__checkstatus{
          margin-right:16px;
        }
        &__menu,&__checkstatus{
          margin:0 16px;
        }
    }
    .main_container{
        &__menu{
          list-style: none;
          display: flex;
          flex-flow: row nowrap;
          overflow-x: auto;
          white-space: nowrap;
    
          &::-webkit-scrollbar {
           display: none; 
          }
        }
        
        &__text-for1120, &__photo-for320{
          display:none;
        }
        &__photo-for768{
        display:block;
        float:right;
        width:50%;
        margin-left:20px;
    }
    }


    .second_container, .third_container, .fourth_text, .fourth_readmore, .footer{
        margin: 24px;
    }
    .footer{
        margin-top:80px;
    }
    .second_container__button, .third_container__button{
        gap:24px;
    
        &-item, &-item-for768, &-item-for1120{
         width:224px;
        }
    }
    .button_expand{
        margin-top: 24px;
    }
}