@media (max-width:767px){

    .third_container, .second_container, .fourth_table{
        display:none;
    }
    .swiper{
        display:flex !important;
        margin:16px;

        &_name, &_price, &_time{
          color:#7E7E82;
        }
        &_price, &_time{
          margin-top:16px;
        }
        &_timetext{
          display: flex;
          align-items: center;
        }
        &-slide{
          display: flex;
          background-color: white;
          border: 1px solid #EAEAEA;
          border-radius: 6px;
          position: relative;
          width:240px;
          padding: 12px;
          box-sizing: border-box;
        }
    }

    .second .swiper{
        min-height: 116px;
    }
    .third .swiper{
        min-height: 195px;
    }
    .fourth .swiper{
        min-height: 260px;
    }

    .fourth_table__order-img{
        margin-left:auto;
        cursor: pointer;
    }
    
    .second .swiper-slide{
        cursor: pointer;
        height: 72px;
        justify-content: space-between;
        align-items: center;
        text-align:center;
    }
     .third .swiper-slide{
        cursor: pointer;
        height: 160px;
    }
     .fourth .swiper-slide{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        height: 220px;
        width:260px;
    }

     .main_header{
        &__icon-for768, &__divider-for768{
          display:none;
        }
        &__logo{
          margin-right: auto;
        }
    }

    .main_container{
        border-top: 1px solid #B8FFEC;
    
        &__text-for768, &__photo-for768{
          display:none;
        }
        &__photo-for320{
          display:flex;
          width: 100%;
          height: auto;
        }
    }

    .footer{
        display:block;
       
        &_left, &_center, &_right {
          width: 100%;     
          text-align: center;    
        } 
        &_center{
          margin:16px 0;
        }
}
}