.aside{
    display:flex;
    flex-direction: column;
    background-color: white;
    min-width: 320px;
    width:360px;
    min-height: 1024px;

  &_header,
  &_button,
  &_footer {
    position: fixed;
  }

  &_header {
    top: 30px;
    display: flex;
    align-items: center;
    padding: 0 23px;

    &__back {
      display: none;
      width: 40px;
    }

    &__icon,
    &__logo {
      width: 40px;
    }
    &__logo {
        width: 97px;
        margin-right: 120px;
      }
    }
  &_button {
    display: flex;
    flex-direction: column;
    top: 110px;
    gap: 24px;

    &__item {
      display: flex;
      background-color: white;
      border: none;
      font-weight: 500;
      font-size: 20px;
      margin: 0 24px;
      align-items: center;

      &:first-child {
        margin: 0;
        gap: 20px;
        color: #7E7E82;
      }
    }
  }
  &_list__divider{
      height: 32px;
  }
  &_footer {
    top: 727px;
    margin: 0 24px;

    &__icon_container {
      display: flex;
      gap: 16px;
    }

    &__email {
      font-size: 16px;
      margin-top: 16px;
    }

    &__tel {
      font-size: 32px;
      font-weight: 700;
      margin-top: 20px;
    }

    &__icon {
      width: 40px;
    }

    &__button_container {
      display: flex;
      flex-direction: row;
      gap: 16px;

      & > button {
        border: none;
        background-color: white;

        &:first-child,
        &:hover {
          color: #7E7E82;
        }
      }
    }
  }
}