.fourth_table {
  padding: 32px;

  &__body {
    background-color: white;
    border-radius: 10px;

    tr:first-child {
      td:first-child {
        border-top-left-radius: 10px;
      }

      td:last-child {
        border-top-right-radius: 10px;
      }
    }

    tr:last-child {
      td:first-child {
        border-bottom-left-radius: 10px;
      }

      td:last-child {
        border-bottom-right-radius: 10px;
      }
    }

    td {
      padding: 16px 32px;
      font-weight: 500;
      font-size: 14px;
    }
  }

  &__1 {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }

  &__head th {
    color:#7E7E82;
    font-weight: 500;
    padding: 16px 32px;
    font-size: 14px;
  }

  &__order-img {
    height: 32px;
    cursor: pointer;
  }

  &__name {
    width: 50%;
  }

  &__price {
    width: 20%;
  }

  &__time {
    width: 15%;
  }

  &__order {
    width: 15%;
  }
}

.fourth_text {
  margin: 0 32px;
  color: #6a6a6d;
}

.fourth_readmore {
  margin: 32px;
  display: flex;
  align-items: center;

  &__text,
  &__ic {
    cursor: pointer;
  }
}

// === линия разделителя ===
.line-row {
  padding: 0 !important;
  height: 1px;
}

.line {
  height: 1px;
  background-color: #EAEAEA;
  margin: 0 15px;
}