@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
} 

/* === base style === */

body{
    background-color: #F8F8F8;
    font-family:"TT Lakes", sans-serif;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}
button, .icon, .menu-item,.main_container__readmore {
  cursor: pointer;
  transition: filter 0.3s ease, opacity 0.3s ease;
}

/* === aside === */

.aside{
    display:flex;
    flex-direction: column;
    background-color: white;
    min-width: 320px;
    max-width:360px;
    height:100hv;
    min-height: 1024px;
}

/* === асайд шапка === */

.aside_header{
    display: flex;
    align-items: center;
    padding:23px;
}
.aside_header__icon, .aside_footer__icon{
    width:40px;
}
.aside_header__icon:first-child{
    margin-right:24px;
}
.aside_header__logo{
    width:97px;
    margin-right: auto;
}

/* === айсад основа === */

.aside_button{
    display:flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 24px;
    margin-top: 32px;
}
.aside_button__item{
    display:flex;
    font-family:"TT Lakes", sans-serif;
    background-color: white;
    border:none;
    font-weight: 500;
    font-size: 20px;
    margin:0 24px;
    align-items: center;
}
.aside_button__item:first-child{
    margin:0;
    gap: 20px;
    color:#7E7E82;
}
.aside_list__divider{
    height: 32px;
}

/* === айсад подвал === */

.aside_footer{
    margin: 200px 0 24px 24px;
}
.aside_footer__icon_container{
    display:flex;
    gap:16px;
}
.aside_footer__email{
    font-size: 16px;
    margin-top: 16px;
}
.aside_footer__tel{
    font-size: 32px;
    font-weight: 700;
    margin-top: 20px;
}
.aside_footer__button_container{
    display: flex;
    flex-direction: row;
    gap:16px;
}
.aside_footer__button{
    border:none;
    background-color: white;
}
.aside_footer__button:first-child,.aside_footer__button:hover{
    color:#7E7E82;
}

/* === мэйн шапка === */

.main_header{
    display: flex;
    float:right;    
    background-color: #F8F8F8;
    height: 88px;
    align-items: center;
}
.main_header__icon, .main_header__divider,  .main_header__divider-for768, .main_header__logo{
    display:none;
}
.main_header__repair, .main_header__checkstatus{
    margin: 0 16px;
    width: 40px;
}

 /* === мэйн основа === */

.main_container{
    border-top: 1px solid #f8f8f8;
    padding-inline-start: 0px;

}
.main_container__title{
    display:flex;
    height: 40px;
    margin-top: 20px;
    align-items: center;
}
.main_container__title-line{
    margin-right:16px;
    height: 40px;
}

/* === мэйн основа menu === */

.main_container__menu{
    display: flex;
    flex-flow: row wrap;
    padding-inline-start: 5px;
    margin-bottom: 0px;
    width:100%;
}
.main_container__menu-item{
    margin:20px;
    color:#7E7E82;
    height:24px;
    padding:10px;
    display:inline;
}
.main_container__menu-item:first-child{
    background-color: white;
    border-radius:6px;
    border:2px solid #B8FFEC;
}

/* === мэйн основа text === */
.main_container__text{
    flex-direction: row; 
    margin-left:20px;    
}
.main_container__text-for320 {
   margin-top: 16px;
}
.main_container__text-for768, .main_container__text-for320{
    padding:0 16px;
    margin-top: 16px;
    font-size: 15px;
}
.main_container__photo-for320{
    display:none;
}
.main_container__photo-for768{
    display:block;
    float:right;        
    width:50%;
    margin:0 24px 32px 24px;
}
.main_container__readmore{
    display:flex;
    padding:16px;
    font-weight: 500;
}
.main_container__readmore-expand{
    height:24px;
    width:24px;
}
/* === second third fourth===*/
.second, .third,.fourth{
    margin-top: 32px;
}
.second_header, .third_header, .fourth_header{
    border-top: 2px solid #B8FFEC;
    color:#7E7E82;
    background:linear-gradient(90deg, #F8F8F8,white);
    display: flex;
    height: 56px;
    width:100%;
    align-items: center;
}
.second_header__text, .third_header__text, .fourth_header__text{
    margin-left: 32px;
}
.second_container, .third_container{
    margin:32px;
}

/* === конпки бренда === */

.second_container__button, .third_container__button{
    display:flex;
    flex-flow: row wrap;
    gap:16px 32px;
}
.second_container__button-item, .second_container__button-item-for1120, .second_container__button-item-for768,.third_container__button-item{
    display: flex;
    cursor: pointer;
    background-color: white;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
}
.second_container__button-item, .second_container__button-item-for1120, .second_container__button-item-for768{
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    width:240px;
    height:72px;
}
.button_container__logo{
    height: 52px;
}
.button_container__logo-big{
    height:32px;
}
.button_container__logo-medium{
    height:24px;
}
.button_container__go,.button_container__go-third{
    height:40px;
}

/* === свернуть & показать === */

.button_expand{
    font-family:"TT Lakes", sans-serif;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 32px;
    border:none;
    width:150px;
    background-color:#F8F8F8 ;
}
.button_expand__ic{
    height: 24px;
}
.swiper{
    display:none !important;
}
/* === конпки техника === */
.third_container__button-item{
    width:240px;
    height:160px;
    padding:12px;
}
.button_container__text{
    align-self:flex-start;
    font-family:"TT Lakes", sans-serif;
    font-size: 16px;
}
.button_container__go-third{
    align-self: flex-end;
    margin-left:auto;
}
.fourth_table{
    min-width:100%;
    padding:32px;
    text-align: left;
    border-collapse: collapse;
}
.fourth_table__1 th{
    color: #7E7E82;
    font-weight: 500;
}
.fourth_table__2{
    background-color: white;
    border-radius: 10px;
    padding:16px;
}
.fourth_table__2 th{
    font-weight: 500;
}
.fourth_table__2 tr:not(:first-child) th,
.fourth_table__2 tr:not(:first-child) td{
    padding-top:12px;
    border-top: 1px solid #EAEAEA ;
}
.fourth_table__order-img{
    height:32px;
}
.fourth_table__other{
    border-top: 2px solid #EAEAEA ;
}
.fourth_table__name{
    width:50%;
}
.fourth_table__price, .fourth_table__time{
    width:15%;
}
.fourth_table__price{
    width:20%;
}
